@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@custom-variant dark (&:where(.dark, .dark *));

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
} */

@theme {
  --font-inter: "Inter", sans-serif;
}